/*entire document*/
html {
    scroll-behavior: smooth; /*page scrolling is smooth*/
    
  }
  
  /*body*/
  body {
      margin: 0%; /*site displays all the way on screen*/
      opacity: 1; /*fade in effect*/
      transition: 2s opacity; /*This causes a 3 second fade in*/
      letter-spacing: .1vw;
      font-family: 'Open Sans', sans-serif;
      font-size: 1vw;
      width: 100%;
      height: 100%;
      background-color: white;
      }

  /*fade effect for the page when the page is loaded*/
  body.fade-out {
      opacity: .1; /*level of opacity*/
      transition: none;
  }
  
  /*navigation*/
  .Navbar {
      right: 0;
      overflow: none; /*overflowis not displayed*/
      background-color:#00CED1;
      top: 0; /*no space is displayed above the navbar*/
      width: 100vw; /*entire width of the page*/
      height: 6vh;
      z-index: 1;
      position: fixed;
      -webkit-animation: moveNav 2s; /* Safari 4.0 - 8.0 */
      animation: moveNav 2s;
  }
 
  
  /*navigation text*/
  .Navbar a {
      color: white; /*font color for navbar*/
      text-decoration: none; 
      font-family: 'Open Sans', sans-serif;
      font-size: 2vh; /*font size for navbar*/
      text-align: center; 
      position: relative;
      -webkit-animation: movenavText 2.25s; /* Safari 4.0 - 8.0 */
      animation: movenavText 2.25s;
      letter-spacing: .1vw;
  }
  
  /*moving the nav bar in from above the top of the screen*/
  @keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
  }
  
  /*moving the nav bar in from above the top of the screen*/
  @keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
  }
  
  
  /* Navbar hover effect */
  a:hover {
    background-color:transparent; /* background color when you hover over the text*/
    color: #E5FAFA; /*font color when you hover over the text*/ 
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    text-decoration: none;
  }

  #whitelogo {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0%;
    width: 12%;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /*banner section*/
  /*New Navbar and background teal*/
    
  .bg-teal {
      background-color: #00CED1;
    }
    
  .nav-teal {
      color: #00CED1;
    }
    
    /*jumbotron header image*/
  .banner {
          background-image: url("Mandalanologo.png");
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 95vh;
    }
  
    /*underline*/
    hr{
      background-color: white;
      width: 10vw;
    }
 

/*About me section*/
    #About {
      padding-top: 5%;
      padding-bottom: 5%;
    }

    .Row {
      padding: 2% 5%;
    background-color: white;
    }

  .Column_1 {
      float: left;  
      width: 60%; /*one column takes up half the page width*/
      background-color:rgba(255, 255, 255, 1); 
      height: 425px; 
  }
  .Column_2 {
    float: left;
    width: 40%;
    height: 425px; 
    background-color: rgba(255, 255, 255, 1);
}
/*portfolio*/
.overlay {
  position: absolute;
  top: 1vh;
  background: #25b6b8;
  background: #25b6b88e; /* Black see-through */
  color: white;
  width: 35%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 1.5vw;
  padding: 1vh;
  text-align: center;
}
.col-sm-6:hover .overlay {
  opacity: 1;
}
.modalimage {
  width: 70vw;
}
.mcontent {
  width: 70vw;
  height: 100%;
  background-color: transparent;
}
.modal-dialog {
  margin: 0vw;
}

  /*Github Project*/
    .jumbotron-fluid {
      background-color: #FBF6F8;
      margin: 0%;
    }
    
    * {
      box-sizing: border-box;
    }
    
    /* Style the buttons */
    .pbtnbottom {
        width: 15vw;  
        padding: 2vw;
        background-color: transparent;
        color: #00CED1;
        border: 1px solid #E5FAFA;
        border-radius: 3vh;
        font-size: 1.8vh;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: .3vw; 
        font-size: 1.8vh;
        cursor: pointer;
        margin-left: 40vw;
    }
  
    
    /* Add a grey background color on mouse-over */
    .pbtnbottom:hover {
      color: #c2728f;
      background-color: #f5e7ec;
      border: transparent;
      -webkit-transition-duration: 1s; 
      transition-duration: 1s;
    }

  .Row:after { /* This inserts something after the content of selected elements */
      content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
      display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
      clear: both; /* This clears any other elements from floating on the left or the right of an element */
  }
  
  /* Heading 1 elements */
  h1 {
      text-transform: capitalize;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      text-align: left;
      padding-left: 0vw;
      font-size: 3vh;
      color: #25b6b8;
  }

 h2, .GitText  {
    text-transform: capitalize;
    font-family: 'Lato', sans-serif; 
    font-weight: 500;
    font-size: 2.5vh;
    padding-top: 3vh;
    color: #c2728f;
  }
  h3 {
    text-transform: capitalize;
    font-family: 'Lato', sans-serif; 
    font-weight: 300;
    text-align: center;
    padding-top: 2vh;
    margin-top: 0vh; /*margin above the headings*/
    
  }
  
  /* Paragraph elements */
  p {
      font-family: 'Open Sans', sans-serif;
      text-align: left;
      letter-spacing: 0.05vw; 
      line-height: 3vh;
      font-size: 1.8vh;
      padding-left: 0vw;
      padding-right: 0vw;
      color: rgb(104, 104, 104);
  }
  

  /* links */
  


  /*Images*/
.Expand1 {
      max-height: 75%; 
      width: auto;
      margin: auto auto auto auto;
      display: block;
      border-radius: 2%;
  }
  
  /* Paragraph element hover effect */
  p:hover {
      transition: transform 1s;
      transform: scale(1.01);
  }
  
  /* Heading 1 element hover effect */
  h1:hover {
      color: #80CFDF;
      transition: transform 2s;
  }
  
  /* Image element hover effects */
 .Expand1:hover {
      transition: transform 1s;
      transform: scale(1.05);
      border-radius: 10%;
  }


  /*title for contact form*/
.open-button {
    width: 100vw;
    margin-top: auto;  
    padding: 20px;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 3vh;
    z-index: 2;
    text-align: center;
    top: 85%;
  }
  .open-button:hover {
    color: #f5e7ec;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    z-index: 3;
  }

  /*The popup form*/
  .form-popup {
    z-index: 20;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
  }
  
  /* Form styling */
  .form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: #f5e7ecf8;
    border: 0px solid white;
    border-radius: 1vh;
  }
  
  /* Input fields */
  .form-popup input[type=text], .form-container input[type=password], select{
    float: right;
    width: 100%;
    padding: .85vw;
    margin: .6vw 0 1vw 0;
    background: white;
    border: .1vh solid white;
    border-radius: 1vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8vh; 
  }
 
  /* Submit button */
  .form-popup .btn {
    background-color: white;
    color: #c2728f;
    border: .1vh solid #f5e7ec;
    border-radius: 1vh;
    margin-top: 2vh;
    margin-bottom:1vh;
    margin-left: 65px;
    width: 250px;
  }
  
  /* Close button */
  .form-popup .cancel {
    background-color: white;
    color: #c2728f;
    border: .1vh solid #f5e7ec;
    border-radius: 1vh;
    width: 250px;
  }
  
  /* Button styling form */
  .btn{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .3vw; 
    font-size: 1.8vh;
    padding: .5vw .5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
  }
  
  /* Hover effect for buttons */
  button:hover, .btn:hover{
    color: #c2728f;
    background-color: #f5e7ec;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
  }
  .form-container .cancel:hover{
    color: white;
    background-color: #c2728f;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
  }	

  /* Footer element */
  footer {
      padding: 2%;
      background-color:#25b6b8;
  }
  footer>p {
    color: white;
  }
  /*social icons*/
  i {
    float: right;
    padding: 1%;
    width: 4vh;
  }
  .fab{
    font-size: 2.5vh !important; /*size whatever you like*/
}

  /*mobile responsive*/
  @media (max-width: 800px) {
      .Column_1, .Column_2, .Row{
      width: 100%;
      height: auto;
    } }
  @media (max-width: 600px) {
    .Navbar>a {
      font-size: 2vh;
      padding: 2vw;
    }
    .Navbar{
      width: 100%;
    }}
  /*Image About*/
  @media (max-width: 600px) {
      .Expand1{
        width: 50%;
        height: auto;
      } }

  /*form*/
  @media (max-width: 600px) {
    .form-container {
      max-width: 100vw;
      height: 45vh;
    } }
  /*input fields*/
  @media (max-width: 600px) {
    input{
      width: 90vw;
      height: 5vh;
      margin: 1vh;
    } 
  .form-popup .btn{
      height: 5vh;
      width: 90vw;
      margin: .5vh;
  }}
  /*banner*/
  @media (max-width: 600px) {
      #whitelogo {
        width:30vw;
        height: 20vh;
      }
      
    }
  
  /* Responsive layout - makes a one column-layout instead of three columns */
  @media screen and (max-width: 800px) {
    .column, .content {
      flex: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  
  /* Responsive layout - makes the one columns stack on top of each other instead of next to each other
  Fixes image stretch on iphones */
  @media screen and (max-width: 800px) {
    img {
      object-fit: contain;
      max-width: 100% !important;
      height: 100%;
    }
  }
  /*Github Button*/
  @media screen and (max-width: 800px) {
  /*Buttons*/
    .pbtnbottom {
      width: 90vw;
      margin-left: 5vw;
    }
  }




