/*entire document*/
html {
    scroll-behavior: smooth; /*page scrolling is smooth*/
  }
  
  /*body*/
  body {
      margin: 0%; /*site displays all the way on screen*/
      opacity: 1; /*fade in effect*/
      transition: 2s opacity; /*This causes a 3 second fade in*/
      letter-spacing: .1vw;
      font-family: 'Open Sans', sans-serif;
      font-size: 1vw;
      }

  .bodybackground {
      background-image: url(../Content/Clouds.jpg);
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
      }

  /*fade effect for the page when the page is loaded*/
  body.fade-out {
      opacity: .1; /*level of opacity*/
      transition: none;
  }
  
  /*navigation*/
  .Navbar {
      text-align: center;
      overflow: hidden; /*overflowis not displayed*/
      background-color:#00CED1;
      position: fixed; /*keeps the navbar at the top of the screen as we scroll*/
      top: 0; /*no space is displayed above the navbar*/
      width: 100%; /*entire width of the page*/
      height: 5.1vh;
      z-index: 1;
      position: fixed;
      -webkit-animation: moveNav 2s; /* Safari 4.0 - 8.0 */
      animation: moveNav 2s;
  }
  
  /*navigation text*/
  .Navbar a {
      display: inline-block; /*same line or row*/
      color: white; /*font color for navbar*/
      padding: .75vw 1vw; /*padding around our text*/
      text-decoration: none; 
      font-family: 'Open Sans', sans-serif;
      font-size: 1.5vh; /*font size for navbar*/
      text-align: center; 
      position: relative;
      -webkit-animation: movenavText 2.25s; /* Safari 4.0 - 8.0 */
      animation: movenavText 2.25s;
      letter-spacing: .1vw;
  }
  
  /*moving the nav bar in from above the top of the screen*/
  @keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
  }
  
  /*moving the nav bar in from above the top of the screen*/
  @keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
  }
  
  
  /* Navbar hover effect */
  .Navbar a:hover {
    background-color:; /* background color when you hover over the text*/
    color: white; /*font color when you hover over the text*/ 
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    text-decoration: none;
  }
  
  /* Navbar home button */
  .Navbar a.active { 
    background-color: rgba(255, 255, 255, 0.3);  /*background color behind the Home button*/ 
  }
  
  /*video to zoom out from a zoomed in position upon page load 
  @keyframes zoominoutsinglefeatured {
      0% {
          transform: scale(1.5,1.5);
      }
      100% {
          transform: scale(1,1);
      }
  }
  */
  
  #banner{
    right: 0; /*no space between the edge of the banner and the edge of the page*/
    top: 0;
    width: 100%;
    z-index: -1;
    position: relative;
  }
  
  /* Text over the banner */ 
  .Banner_Text { 
      background: rgba(255, 255, 255, 0.1); /*semi-transparent background*/
      color: white; 
      width: 100%;
      padding-top: .1vh; /*padding around the text*/
      padding-bottom: 1vh;
      position: absolute;
      margin-top: 0%;
      -webkit-animation: moveNav 5s; /* Safari 4.0 - 8.0 */
      animation: movevideoText 5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* Table - columns and rows*/
  * { /* The asterisk is a universal selector that applies this effect to all elements on the page */
      box-sizing: border-box; /*creates a box with a border*/
  }
  
  .Column_1 {
      float: left;  
      width: 65%; /*one column takes up half the page width*/
      padding: 1.3%; 
      background-color:rgba(255, 255, 255, 0.9); 
      height: 425px; 
  }
  
  .Column_2 {
      float: left;
      width: 35%;
      padding: 1.3%;
      height: 425px; 
      background-color: rgba(255, 255, 255, 0.9);
  }

  .Projects{
    float: left;
    width: 100%;
    padding: 1.3%;
    height: 275px; 
    background-color: rgba(255, 255, 255, 0.9);
  }

  /*Gallery*/
    #Gallery {
      padding: 1.3%;
      background-color: rgba(255, 255, 255, 0.9);
    }
    
    .GalleryGrid {
      display: flex;
      flex-wrap: wrap;
      padding: 1.3%;
    }

    /* Create three equal columns that sits next to each other */
    .imgcolumn {
      flex: 33.33%;
      max-width: 33.33%;
      padding: 1.6%;
    }

    .imgcolumn img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
      transition: 1s;
      padding: 3% 3%;
      filter: drop-shadow(8px 8px 10px rgba(128, 128, 128, 0.1));
    }
    .imgcolumn img:hover {
      transform: scale(1.3);
    }

    /*button in gallery section*/
    .Row button {
      width: 10%;
      margin-left: 42%;
      margin-top: 1%;
      margin-bottom: 3%;
      width: 15vw;  
      padding: 15px;
      background-color: transparent;
      color: #25b6b8;
      border: 1px solid #25b6b8;
      border-radius: 1vh;
      cursor: pointer;
      font-size: 1.8vh;
    }

  .Row:after { /* This inserts something after the content of selected elements */
      content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
      display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
      clear: both; /* This clears any other elements from floating on the left or the right of an element */
  }
  
  /* Heading 1 elements */
  h1 {
      text-transform: capitalize;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      text-align: left;
      padding-left: 4vw;
      font-size: 3vh;
      margin-top: 3vh; /*margin above the headings*/
      color: #25b6b8;
  }

  .portfoliotxt {
    text-align: center;
    margin-top: -60px;
    padding-bottom: 20px;
    z-index: 100;
    color: white;
  }
  h2 {
    text-transform: capitalize;
    font-family: 'Lato', sans-serif; 
    font-weight: 500;
    font-size: 2.5vh;
    text-align: left;
    padding-left: 1vw;
    margin-top: 3%; /*margin above the headings*/
    color: #25b6b8;
  }
  /* Paragraph elements */
  p {
      font-family: 'Open Sans', sans-serif;
      text-align: left;
      letter-spacing: 0.05vw; 
      line-height: 3vh;
      font-size: 1.8vh;
      padding-left: 4vw;
      padding-right: 4vw;
      color: rgb(104, 104, 104);
  }
  
  /* Center align elements - this embraces all centered text */
  center {
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      letter-spacing: .1vw;
      font-size: 1vw;
      padding-left: 5vw;
      padding-right: 5vw;
  }
  
  /* links */
  a {
      color: rgb(104, 104, 104); 
      text-decoration: none;
      font-weight: 600;
      font-size: 1.8vh;
  }
  a:hover {
    color: #d16900; 
    text-decoration: underline;
  }

  .bannerhead {
    text-align: center;
    padding-left: 0px;
  }

  /*Images*/
.Expand1 {
      max-height: 75%; 
      width: auto;
      margin: auto auto auto auto;
      display: block;
  }
  
  /* Center align element hover effect */
  center:hover {
      transition: transform 1s;
      transform: scale(1.1);
  }
  
  /* Paragraph element hover effect */
  p:hover {
      transition: transform 1s;
      transform: scale(1.01);
  }
  
  /* Heading 1 element hover effect */
  h1:hover {
      color: #80CFDF;
      transition: transform 2s;
  }
  
  /* Image element hover effects */
 .Expand1:hover {
      transition: transform 1s;
      transform: scale(1.05);
      filter: drop-shadow(8px 8px 10px gray);
      border-radius: 10%;
  }


  /*Contact form*/
  
  /* Makes contact form button slide in from right on page load 
  @keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
  } */
  
  /*Button for contact form*/
  .open-button {
    width: 15vw;
    margin-top: auto;  
    padding: 15px;
    background-color: white;
    color: #25b6b8;
    border: 1px solid #25b6b8;
    border-radius: 1vh;
    cursor: pointer;
    position: absolute;
    -webkit-animation: movePopup 2s;
    animation: movePopup 2s;
    font-size: 1.8vh;
  }

  /*cointainer holding button*/
  .formbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.9)
  }
  
  /*The popup form*/
  .form-popup {
    z-index: 20;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
  }
  
  /* Form styling */
  .form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
    border: 1px solid #25b6b8;
    border-radius: 1vh;
  }
  
  /* Input fields */
  .form-popup input[type=text], .form-container input[type=password] {
    float: right;
    width: 100%;
    padding: .65vw;
    margin: .6vw 0 .6vw 0;
    background: white;
    border: .1vh solid #25b6b8;
    border-radius: 1vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8vh; 
  }
  /* Submit button */
  .form-popup .btn {
    background-color: white;
    color: #25b6b8;
    border: .1vh solid #25b6b8;
    border-radius: 1vh;
    margin-bottom:1vh;
    margin-left: 65px;
    width: 250px;
  }
  
  /* Close button */
  .form-popup .cancel {
    background-color: white;
    color: #25b6b8;
    border: .1vh solid #25b6b8;
    border-radius: 1vh;
    width: 250px;
  }
  
  /* Button styling */
  button {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .3vw; 
    font-size: 1.8vh;
    padding: .5vw .5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
  }
  
  /* Hover effect for buttons */
  button:hover, .form-container .btn:hover{
    color: white;
    background-color: #25b6b8;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
  }
  .form-container .cancel:hover{
    color: white;
    background-color: #d16900;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
  }	

  /* Footer element */
  footer {
      padding: .5%;
      background-color:#25b6b8;
  }
  footer>p {
    color: white;
  }
  /*mobile responsive*/
  @media (max-width: 600px) {
    .Navbar, .Home, .Column_1, .Column_2, .Column_3 {
      width: 100%;
      height: auto;
    } }
  @media (max-width: 600px) {
    .Navbar>a {
      font-size: 2vh;
    }}
  /*Image About*/
  @media (max-width: 600px) {
      .Expand1{
        width: 50%;
        height: auto;
      } }
  /*hide contact button*/
  @media (max-width: 600px) {
      .open-button{
        display: none;
      } }

  /*banner text*/
  @media (max-width: 600px) {
    .portfoliotxt {
      margin-top: 4vh;
      margin-bottom: -2vh;
      padding: 0;
      color: #25b6b8;
    } }

/*form*/
@media (max-width: 600px) {
  .form-container {
    max-width: 100vw;
    height: 40vh;
  } }
  /*input fields*/
  @media (max-width: 600px) {
    input {
      max-width: 100vw;
      height: 5vh;
    } }
    /*banner*/
    @media (max-width: 600px) {
      #banner {
        width: 150%;
        margin-left: -25vw;
      }
    }
  
  /* Responsive layout - makes a one column-layout instead of three columns */
  @media screen and (max-width: 800px) {
    .imgcolumn {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .imgcolumn {
      flex: 100%;
      max-width: 100%;
    }
  }